<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ECOM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item active">
	      <!--<a class="nav-link" href="{% url 'product-home' %}">Home</a>-->
	      <a class="nav-link" href="{% url 'product-home' %}"><i class="lni lni-home"></i></a>
      </li>
      <li class="nav-item active">
	      <a class="nav-link" href="{% url 'myorder-details' %}">MyOrders</a>
      </li>
      <li class="nav-item active">
	      <!--<a class="nav-link" href="{% url 'mycart-details' %}">MyCart</a>-->
	      <a class="nav-link" href="{% url 'mycart-details' %}"><i class="lni lni-shopping-basket"></i></a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% if user.is_authenticated %}
	    <ul class="navbar-nav ml-auto">
		    <li class="nav-item">
			    <a class="nav-link" href="{% url 'user-logout' %}">
			 	Logout
			</a>
		    </li>
	    </ul>
     {% else %}
	    <ul class="navbar-nav ml-auto">
		    <li class="nav-item">
			    <a class="nav-link" href="{% url 'user-login' %}">
			  Login
			</a>
		    </li>
		    <li class="nav-item">
			    <a class="nav-link" href="{% url 'user-register' %}">
			  Register
			</a>
		    </li>
	    </ul>
     {% endif %}
  </div>
</nav>
