{% extends 'products/layout.html' %}
<h3> Create Product </h3>
{% block content %}

<div class="container-fluid border border-left border-right border-bottom border-info m-0 p-4">
	<form class="p-8" method="POST" action="#" enctype="multipart/form-data"> {% csrf_token %}
			<blockquote class="p-3 blockquote text-center">
				<h4 class="p-3 bg-primary text-white"> Product Create </h4>
				<hr>
			</blockquote>
			{{ form.as_p }}
			<div class="container-fluid text-center">
				<input class="btn btn-primary" type="Submit" vlaue="Create"> 
			</div>
	</form>
</div>
{% endblock content %}
