{% extends 'base.html' %}
{%load crispy_forms_tags %} 
{% block content %}

    <div class="container">
        <h3>{{ project.name}}</h3>
        <hr>

        <div class="container border border-primary my-4 p-0">
            <div class="bg-secondary">
                <h4 class="text-white p-3 mx-0">USERS</h4>
            </div>
            <div class="container d-flex justify-content-between p-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

                  <div class="card mx-0">
                    <div class="container">
                      <h5><a href="{ url 'show-people'}">username@gmail.com</a></h5>
                    </div>
                  </div>
            </div>
        </div>
        <div class="container border border-primary my-4 p-0">
            <div class="bg-secondary">
                <h4 class="text-white p-3 mx-0">ISSUES</h4>
            </div>
            <div class="container p-1">
              <table class="table p-2">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Summary</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Reported By</th>
                    <th scope="col">Assigned To</th>
                    <th scope="col">Created Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for issue in issues %}
                    <tr>
                      <th scope="row"><a href="{% url 'issue-details' issue.pk %}">{{ issue.summary }}</a></th>
                      <td>{{issue.detail}}</td>
                      <td>{{issue.status}}</td>
                      <td>{{issue.assigned_to}}</td>
                      <td>{{issue.assigned_to}}</td>
                      <td>{{issue.date_created}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>

        
    </div>

{% endblock content %}