{% extends "todoapp/base.html" %}
{% block title %} Tasks {% endblock title %}
{% block content %}
<div class="container col-md-6 mx-auto my-3 text-center bg bg-danger p-2 text-white border rounded">Delete Task with name: {{ task.task_name }}</div>
<div class="container  border-danger border rounded col-md-8 mx-auto p-4 ">
	<div class="card border border-secondary mx-auto " style="width: 45rem;">
	  <div class="card-body">
	    <h4 class="card-title text-primary">@<a href="{% url 'user-tasks' %}">{{ task.user_id.username}}</a></h4>
	    <small class="text-muted"> {{ task.task_create_date }}</small>
	    <hr>
	    <p class="card-text">{{ task.task_name }}</p>
	    <small class="text-muted text-small mb-4">{{ task.status_id.status }}</small>
	    <hr>
	    <div class="container-fluid">
	    	<h6 class="text-danger text-muted d-block mt-4"> Do You want to Delete this task?</h6>
    		<a href="?delete=yes&id={{ task.id }}" class="mb-4 mt-4 mr-3 btn btn-outline-danger col-2">Delete</a>
    		<a href="{% url 'user-tasks' %}" class="mb-4 mt-4 mx-2 ml-3 btn btn-outline-secondary col-2">Cancel</a>
	    </div>
	  </div>
	</div>
</div>
{% endblock content %}