{% extends "todoapp/base.html" %}
{% block title%} Login{% endblock title %}
{% load static %}
{% block content %}
<div class="container col-md-8 p-4 mx-auto d-flex flex-column justify-content-center align-items-center min-vh-50">
	<div class="container col-md-12 mx-auto my-2 mb-4 text-center bg bg-primary p-2 text-warning border rounded"><h4 class="display text-white">LOGIN</h4></div>
	<div class="container form-control col-md-6 border border-info p-4 mx-auto">
		
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p}}
			<div class="container col-md-6 p-4">
				<input class="col-md-4 mx-auto btn btn-outline-primary" type="submit" name="Login" value="Login">
				<small class="mx-4 text-muted">Not a member? <a class="login-btn-reg" href = "{% url 'user-register' %}"> SignUp</a></small>
			</div>
		</form>
	</div>
</div>
{% endblock content %}
